{% extends "base_generic.html" %}

{% block content %}
<h1>Добро пожаловать в агентство Impossible Travel!</h1>

<p>Самый Fantasy отдых - только с нами!</p>



<p><h3>Наше агентство предлагает вам:</h3></p>
<ul>
    <li>Путешествия в {{ num_directions }} фантастических вселенных</li>
    <li>Размещение в {{ num_hotels}} различных гостиницах в {{ num_areas }} возможных местностях</li>
    
</ul>

<p>
    <small>You have visited this page {{ num_visits }} {% if num_visits == 1 %} time {% else %} times {% endif %}</small>    
</p>
{% endblock %}